<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
    <meta charset="UTF-8">
    <title>Project 4</title>
</head>
<body>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
            <form action="{% url 'polls:remove_question' question.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" name="remove_question" formaction="{% url 'polls:remove_question' question.id %}"
                formmethod="POST"/>
            </form>
&Tab;        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
<form action="{% url 'polls:add_question' %}" method="POST">
    {% csrf_token %}
    <label>Add Question</label>
    <input type="text" value="" name="question_text"/>
    <input type="submit" value="Add"/>
</form>
</body>
</html>